body {
  background-color: #f2f2f2;
}
.base_info_list {
  background-color: #fff;
  margin-bottom: 10px;
}
.base_info_list li {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.base_info_list li a {
  position: relative;
  display: block;
  height: 46px;
  line-height: 46px;
  text-indent: 1rem;
  color: #838383;
  font-size: 1.5rem;
}
.base_info_list .base_list1 a {
  height: 73px;
  line-height: 73px;
}
/*右箭头*/
.base_info_list li a:after,
.base_info_list .base_list1 a:after {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 20px;
  background: url('../../img/arr-r.png') no-repeat;
  background-size: 100%;
}
.base_info_content ul:nth-child(1) span {
  position: absolute;
  right: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.base_list1 a img {
  width: 58px;
  height: 58px;
}
.base_list3 a:after {
  opacity: 0;
}
.base_list3 a img {
  width: 20px;
  height: 15px;
}
.base_list5 {
  border-top: 1px solid #e7e7e7;
}

/*公共*/
.base_set {
  display: block;
  width: 95%;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  font-size: 1.5rem;
  box-sizing: border-box;
}
input {
  padding: 0 3%;
}
/*姓名页面 联系方式*/
.base_name_content {
  overflow: hidden;
}
.base_name,
.base_tel {
  height: 45px;
  /*padding: 0 3%;*/
  margin: 5.4% auto 22.4%;
} 
.base_tel_box, 
.base_pwd_box {
  margin: 6% auto 10%;
  background-color: #fff;
}
/*联系方式编辑*/
  .edit {
   /* position: absolute;
    right: 3%;
    top: 0;
    height: 40px;
    font-size: 1.5rem;
    color: #fff;*/
  }

/*修改手机号码、修改密码*/
.base_tel_box input,
.base_pwd_content input {
  width: 100%;
  height: 45px;
  /*padding: 0 3%;*/
  font-size: 1.5rem;
  background-color: transparent;;
  border: none;
  box-sizing: border-box;
}
.base_tel_box .tel_edit,
.base_pwd_box input:nth-child(1) {
  border-bottom: 1px solid #dbdbdb;
}
/*验证码*/
.base_tel_box .tel_code {
  width: 60%;
  border: none;
}
/*获取验证码*/
.code_time {
  float: right;
  width: 28%;
  height: 35px;
  margin-top: 5px;
  margin-right: 5px;
  line-height: 35px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 6px; 
  background-color: #26c08a;  
  box-sizing: border-box;
}
/*修改密码*/
.base_pwd_box {
  margin: 2% auto;
}
/*当前密码*/
.base_pwd_content .pwd_old {
  display: block;
  width: 95%;
  background-color: #fff;
  margin: 6% auto 0;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}
.base_pwd_content p {
  text-indent: 2rem;
  font-size: 1.2rem;
  color: #808080;
}
/*钱包密码修改*/
.base_tel_box.bag_box {
  margin: 2% auto;
} 
.base_pwd_box.bag_box {
  margin-top: 6%;
}
/*我能供应*/
.base_can_content {
  margin-top: 6%;
}
.base_can {
  height: 45px;
  margin: 0 auto 2%;
}
.need {
  margin: 0 auto;
  padding: 3%;
  text-align: justify;
  resize: none;
}
.base_can_content p {
  width: 95%;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  color: #808080;
  margin: 0 auto;
}
.base_can_content a {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin-left: 2%;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  background: url('../../img/base-1.png') no-repeat center;
  background-size: 30%;
  background-color: #fff;
}
/*设置按钮*/
.btn_set {
  display: block;
  width: 85%;
  height: 45px;
  line-height: 45px;
  margin: 7% auto;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 6px;
  background-color: #f29004;
}
/*确认按钮*/
.confirm_btn {
  position: absolute;
  bottom: 50px;
  margin: 0;
  left: 7.5%;

}





