body {
  background-color: #f2f2f2;
}
.info_box {
  position: relative;
  width: 100%; 
}
.info_box .user_info {
  position: absolute;
  width: 100%;
  left: 0;
  top: 22%;
  text-align: center;
  color: #fff;
}
/*用户头像*/
.info_box .user_info .user_logo {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #eeedeb;
  margin: 0 auto;
  box-sizing: border-box;
}
.info_box .user_info .user_logo:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 15px;
  background: url('../../img/icon-all.png') no-repeat 0 -3px;
  background-size: 1000%;
}

.info_box .user_info .username {
  font-size: 1.4rem;
  margin: 4px 0 8px;
}
.info_box .user_info .user_level {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 70px;
  padding: 2px 0;
  border: 1px solid #fff;
  border-radius: 16px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.list_box {
  background-color: #fff;
  padding-left: 10px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 0;
}
.list_box li {
  border-top: 1px solid #e0e0e0;
}
.list_box li:first-child {
  border: none;
}
.list_box li a {
  position: relative;
  display: block;
  height: 46px;
  line-height: 46px;
  color: #1a1a1a;
  font-size: 1.4rem;
  padding-left: 42px;
}
/*图标*/
.list_box li a:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: url(../../img/icon-all.png) no-repeat;
  background-size: 216px 226px;
}
/*右箭头*/
.list_box li a:after {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 20px;
  background: url('../../img/arr-r.png') no-repeat;
  background-size: 100%;
}
.list_box li.list_1 a:before {
  background-position: -120px 0;
}
.list_box li.list_2 a:before {
  background-position: -72px 0;
}
.list_box li.list_3 a:before {
  background-position: -96px 0;
}
.list_box li.list_4 a:before {
  background-position: -168px 0;
}
.list_box li.list_5 a:before {
  background-position: -144px 0;
}
.list_box li.list_6 a:before {
  background-position: -48px 0;
}
.list_box li.list_7 a:before {
  background-position: -122px -78px;
}
.list_box li.list_8 a:before {
  background-position: -122px -100px;
}
