@charset:"utf8";
body {
	background-color: #f2f2f2;
}
/*更多*/
.more_content {
	width: 100%;
	font-size: 1.6rem;
	box-sizing: border-box;
}
.more_list,
.problem_list {
	width: 100%;
	margin-top: 3%;
	
	background-color: #fff;
}
.more_list div,
.problem_list div {
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 3%;
	
	color: #666;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;
	background: url('../../img/arr-r.png') no-repeat 97%;
	background-size: 2.5%;
}
.more_list li:last-child div{
	background: transparent;
}
.more_list li:last-child span {
	float: right;
}

/*关于我们*/
.more_us_content,
.more_problem_content {
	width: 100%;
	padding: 3%;
	font-size: 1.6rem;
	color: #666;
}

/*帮助中心*/
.help_tel {
	width: 100%;
	height: 40%;
	padding: 26.7% 0 18.7%;
	text-align: center;
	font-size: 1.4rem;
	color: #919191;
	background: url('../../img/help.png') no-repeat center 20%;
	background-size: 12%;
	overflow: hidden;
}
.help_tel p:nth-child(2) {
	font-size: 1.6rem;
}
/*一键拨号*/
.help_tel a {
	display: inline-block;
	width: 24%;
	height: 30px;
	line-height: 30px;
	margin-top: 4%;
	font-size: 1.2rem;
	text-indent: 2rem;
	color: #fff;
	background: url('../../img/help-tel.png') no-repeat 15%;
	background-size: 18%;
	background-color: #5fb9ff;
	border-radius: 4px;
}
/*常见问题*/

/*意见反馈*/
.contact_info {
	display: block;
	width: 100%;
	height: 53%;
	padding: 2%;
	line-height: 20px;
	text-align: justify;
	font-size: 1.4rem;
	box-sizing: border-box;	
	resize: none;
}
/*确认按钮*/
#sure_btn {
	display: block;
	width: 90%;
	height: 45px;
	line-height: 45px;
	margin: 7% auto;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	border-radius: 6px;
	background-color: #f29004;
}