@charset:"utf8";
body {
	background-color: #f2f2f2;
}

/*我的余额*/
.my_bag_surplus {
	width: 100%;
	padding: 44% 0 16%;
	text-align: center;
	font-size: 1.4rem;
	color: #919191;
	background: url('../../img/wallet.png') no-repeat center 32%;
	background-size: 24%;
	overflow: hidden;
}
.my_bag_surplus p:nth-child(2) {
	font-size: 2.8rem;
	color: #000;
}
/*选择支付方式*/
.pay_way {
	width: 90%;
	margin: 0 auto 13%;
	font-size: 1.5rem;
	background-color: #fff;
	border-radius: 6px;
	padding: 0 2%;
	box-sizing: border-box;
}
.pay_way p {
	position: relative;
	line-height: 50px;
	text-indent: 5rem;
}

.pay_way p:before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 40px;
	height: 40px;
	background: url(../../img/icon-all.png) no-repeat;
	background-size: 660%;
	
}
.pay_way p.way1:before {
	background-position: 1px -201px;
}
.pay_way p.way2:before {
	background-position: -38px -201px;
}
.pay_way p:nth-child(1) {	
	border-bottom: 1px solid #ccc;
}
.pay_way p span {
	float: right;
	width: 16px;
	height: 16px;
	margin: 17px ;
	border-radius: 50%;
	border: 1px solid #d4d4d4;
	background-color: #f0f0f0;
	box-sizing: border-box;
}
.pay_way p span.active {
	border: none;
	background: url('../../img/pay-1.png') no-repeat;
	background-size: 100%;
}

/*充值页面 金额*/
.bag_recharge_content .recharge {
	width: 100%;
	border-radius: 0;
}
.bag_recharge_content p.way1 {
	border: none;
}
.money {
	border-top: 1px solid #ccc;
}
.money input {
	width: 90%;
	height: 50px;
	padding: 0 4%;
	font-size: 1.4rem;
	border: none;
	box-sizing: border-box;
}


/*确认按钮*/
.btn_set {
  display: block;
  width: 85%;
  height: 45px;
  line-height: 45px;
  margin: 7% auto;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 6px;
  background-color: #31c18c;
}