@charset:"utf8";
body {
	background-color: #f2f2f2;
}
/*详情页面内容*/
.detail_content {
	width: 100%;
}
/*商家图片*/
.pro_pic {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.pro_pic:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	background: -webkit-linear-gradient(top,rgba(180, 180, 180,.5) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%);
}
/*商家信息*/
.pro_info {
	width: 100%;
	padding: 2% 2% 0;
	font-size: 1.4rem;
	color: #666;
	background-color: #fff;
	box-sizing: border-box;
}
.pro_info h1 {
	font-size: 1.6rem;
	color: #141414;
	/*单行省略*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pro_info p {
	width: 100%;
	line-height: 25px;	
}
/*商家详情*/
.pro_content {
	width: 100%;
	margin-top: 3%;
	padding: 2%;
	background-color: #fff;
	box-sizing: border-box;
}
.content1_pic {
	float: left;
	width: 19.4%;
	border: 1px solid #f7f7f7;
	box-sizing: border-box;
}
.content1_info {
	float: left;
	width: 75%;
	margin-left: 3%;
}
.content1_info p {
	font-size: 1.2rem;
	color: #666;
}
.content1_info p:nth-child(1) {
	font-size: 1.5rem;
}
.content1_info p:nth-child(3) {
	line-height: 30px;
	color: #0add27;
}
.content1_info p:nth-child(3) span {
	color: #666;
}
.content1_info p:nth-child(3) span:nth-child(1) {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url('../../img/icon-all.png') no-repeat;
	background-position: -26px -142px;
	background-size: 1200%;
}
/*商品详情*/
.pro_c_txt {
	padding: 2% 0;
	font-size: 1.4rem;
	box-sizing: border-box;
}





