@charset "utf-8";
/*导航栏*/
#nav {
	width: 100%;
	background-color: #fff;
}
			.nav_div ul li a{
				height: 90px;
				display: inline-block;
				float: left;
				font-size: 16px;
				line-height: 90px;
				color: #333;
			}
			.nav_div ul li a:hover{
				color: #29b572;
			}
			.nav_div ol li a:hover{
				color: #29b572;
			}
			
			
			.nav_div ol{
				height: 90px;
				display: inline-block;
				float:right;
			}
			.nav_div ol li{
				height: 90px;
				display: inline-block;
				float: right;
			}
			.nav_div ol li a{
				height: 90px;
				font-size: 14px;
				line-height: 90px;
			}
			.nav_div ol li:nth-child(1) a{
				border-left: 1px solid gray;
				padding-left: 10px;
			}
			.nav_div ol li:nth-child(2) a{
				padding-right: 10px;
			}
			.nav_div {
				width: 1224px;
				height: 90px;
				margin: auto;
				background-color: #ffffff;
				margin-bottom: 24px;
				color: black;
			}
			.logo{
				display: inline-block;
				float: left;
				margin-top: 22.5px;
			}
			
			
			
			.logo img{
				width: 105px;
			}
			.faxian{
				width: 105px;
				margin-top: 30px;
				margin-left:10px;
				display: inline-block;
				float: left;
				margin-right: 15px;
			}
			#address{
				position: relative;
				display: inline-block;
				float: left;
				font-size: 14px;
				margin-right: 45px;
				margin-top: 32px;
				width: 42px;
    				height: 26px;
    				color: #333333;
    				font-size: 14px;
    				line-height: 26px;
    				padding-left: 10px;
    				padding-right: 10px;
    				border:1px solid #e0e0e0;
			}
			.city{
				position: absolute;
				left: 0px;
				width: 336px;
				height: 233px;
				padding-left: 20px;
				padding-top: 20px;
				font-size: 14px;
				background-color: white;
				display: none;
				z-index: 2;
			}
			.city div{
				position: relative;
				left: 0;
				top: 0;
				width: 77px;
				text-align: center;
				display: inline-block;
				margin-right: 30px;
				margin-bottom: 15px;
				color: black;
				
			}
			.meng{
				position: absolute;
				left: 0;
				top: 0;
				width: 77px;
				height: 30px;
				background-color: rgba(255,255,255,0.5);
				border-radius: 15px;
				display: none;
			}
			.city div:hover .meng{
				display: block;
			}
	
			
			#address:before{
				content: "";
				width: 12px;
				height: 14px;
				float: right;
				background: url(../img/index/15ico_bg.png);
				background-position: -4px -570px;
				margin-top: 6px;
			}
			#address.ar_active:before{
				background-position: -4px -590px;
			}
			
			
			.nav_div ul{
				height: 90px;
				float: left;
			}
			.nav_div ul li{
				height: 90px;
				float: left;
				margin-right: 45px;
			}
			

/*页脚*/
#footer {
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.footer {
  width: 1224px;
  height: 300px;
  margin: 0 auto;
}
/*友情链接栏*/
.friend_line_bar {
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.friend_line_bar h2 {
  float: left;
  margin-right: 25px;
  line-height: 58px;
  font-size: 22px;
  color: #333;
}
.friend_line_bar ul {
  float: left;
}
.friend_line_bar ul li {
  float: left;
  margin-right: 40px;
}
.friend_line_bar a {
  line-height: 58px;
  color: #676767;
  font-size: 14px;
}
/*更多按钮*/
.friend_line_bar .more_btn {
  position: relative;
  float: right;
  margin-right: 20px;
}
.friend_line_bar .more_btn:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 100%;
  background: url('../img/index/more.png') no-repeat center;
}
/*各类信息栏*/
.f_info_list {
  float: left;
  width: 175px;
}
.f_info_list h3 {
  padding: 32px 0;
  font-size: 14px;
  color: #333;
}
.f_info_list ul li {
  margin-bottom: 14px;
}
.f_info_list ul a {
  font-size: 13px;
  color: #676767;
}
.f_info_list ul a:hover {
  color: #333;
}
.footer_info .list5 {
  width: 260px;
}
.footer_info .list5 li:nth-child(2) {
  margin-bottom: 10px;
}
.footer_info .list5 img {
  width: 78px;
  height: 78px;
}
.footer_info .list6 {
  float: right;
  width: 135px;
}
.footer_info .list6 img {
  width: 128px;
}
/*公司备案*/
.company_name {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #808080;
  border-top: 1px solid #e8e8e8;
}



