body {
	background-color: #f2f2f2;
}
/*注册*/
.register {
	position: absolute;
	right: 0;
	top: 0;
	height: 4rem;
	font-size: 1.6rem;
}
/*logo*/
.logo {
	width: 100%;
	height: 49.33%;
	text-align: center;
	box-sizing: border-box;
}
.logo img {
	width: 31.66%;
	margin: 10% 0;
}
/*用户名，密码*/
.login {
	/*display: block;*/
	width: 100%;
	padding: 4% 0;
	border: 1px solid #dbdbdb;
	border-radius: .5rem;
	font-size: 1.4rem;
	text-indent: 4rem;
}
.user {
	margin-bottom: 4%;
	background: url('../img/login-2.png') no-repeat;
	background-size: 6%;
	background-position: 6% 44%;
	background-color: #fff;
}
.pwd {
	background: url('../img/login-1.png') no-repeat;
	background-size: 5%;
	background-position: 7% 42%;
	background-color: #fff;
}
/*忘记密码*/
.pwd_forget {
	width: 100%;
	margin: 2% 0 10%;
	font-size: 1.2rem;
	text-align: right;
	color: #f29004;
}
/*登录按钮*/
#login_btn {
	width: 100%;
	height: 12%;
	padding: 4% 0;
	color: #fff;
	font-size: 1.7rem;
	text-align: center;
	border-radius: .4rem;
	background-color: #f29004;
}






