@charset:"utf8";
/*头部*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: -webkit-linear-gradient(top,rgba(180, 180, 180,.5) 0%,rgba(255,255,255,0) 100%);
	/*background: linear-gradient(top,#bdbdbd,#f2f2f2);*/
	z-index: 999;
}
.header {
	position: relative;
	width: 94%;
	height: 100%;
	margin: 0 auto;
	line-height: 40px;
}
/*返回*/
.back {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	width: 30px;
	height: 40px;
	background: url('../img/back-arr.png') no-repeat left;
	background-size: 40%;
	
}
/*收藏*/
.store {
	position: absolute;
	right: 14.66%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background: url('../img/star-1.png') no-repeat;
	background-size: 200%;
	/*background-position: 0px 0px;*/
}
.store.active {
	background-position: -25px 0px;
}
/*分享*/
.share {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	width: 27px;
	height: 20px;
	background: url('../img/share.png') no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
}
/*底栏*/
footer {
	height: 50px;	
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 2% 3%;

	color: #fff;
	border-top: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	box-sizing: border-box;
}
/*购物车*/
.shop_car  {
	position: relative;
	float: left;
	width: 37px;
	height: 28px;
	background: url('../img/car.png') no-repeat;
	background-size: 83%;
}
.shop_car span {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
	height: 14px;

	font-size: 1rem;
	text-align: center;
	line-height: 14px;
	color: #fff;
	border-radius: 7px;
	background-color: #ee3749;
}
/*购买按钮*/
.shop_box {
	float: right;
	width: 70%;
	box-sizing: border-box;
}
.shop_box a {
	width: 45%;
	height: 32px;

	line-height: 32px;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	border-radius: 5px;
}
.shop_car_btn {
	float: left;
	background-color: #ed9d2a;
}
.shop_pay {
	float: right;
	background-color: #ee3749;
}

/*蒙层*/
.mask_set {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.3);
}

/*分享蒙层*/
.share_box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	text-align: center;
	box-sizing: border-box;
	background-color: #fff;
}
.share_box p {
	height: 50px;
	line-height: 50px;
	font-size: 1.6rem;
	color: #262626;
}
.share_box ul {
	width: 100%;
	
}
.share_box ul li {
	float: left;
	width: 33.33%;	
}
.share_box li a {
	display: block;
	width: 70%;
	margin: 0 auto;
	
	font-size: 1.4rem;
	color: #262626;
}
.share_box li a:before {
	content: "";
	display: block;
	width: 55px;
	height: 55px;
	margin: 0 auto;	
	background: url('../img/icon-all.png') no-repeat;
	background-size: 400%;	
}
.share_box li .ic_share1:before {
	background-position: -165px -25px;
}
.share_box li .ic_share2:before {
	background-position: -110px -25px;
}
.share_box li .ic_share3:before {
	background-position: -55px -25px;
}
.share_cancel {
	display: block;
	width: 80%;
	height: 50px;
	margin: 15% auto 0;

	line-height: 50px;
	font-size: 1.6rem;
	color: #262626;
	background-color: #ccc;
	border-radius: 5px;
}

