@charset:"utf8";
/*账号 密码*/
.user,
.code {
	padding: 4% 0;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	font-size: 1.4rem;
	text-indent: 1rem;
}
 .user {
	width: 100%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.code_box {
	width: 100%;
	margin-bottom: 5%;
}
.code {
	width: 60%;
}
/*验证码时间*/
.code_time {
	float: right;
	width: 35%;
	padding: 3.5% 0;
	/*border: 1px solid #dbdbdb;*/
	border-radius: 5px;
	font-size: 1.4rem;
	text-align: center;
	background-color: #ea6c6c;
	color: #fff;
	box-sizing: border-box;
}
.pwd_set {
	border-radius: .5rem;
	border: 1px solid #dbdbdb;
	margin-bottom: 33%;
}
.pwd_set .pwd {
	display: block;
	width: 94%;
	margin: 0 auto;
	padding: 4% 0;
	font-size: 1.4rem;
	border: none;
}
.line {
	display: block;
	width: 94%;
	margin: 0 auto;
	border-top: 1px solid #dbdbdb;
}

