#bim {
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  position: relative;
}
#bim .coninner {
  width: 100%;
  margin: auto;
}
#bim .coninner .tutext {
  width: 30%;
}
#bim .coninner .tutext h3 {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 3%;
  font-size: 2rem;
  background-color: #cfdb00;
  white-space: nowrap;
  opacity: 0;
}
#bim .coninner .tutext p {
  margin-bottom: 3%;
  font-size: 1.5rem;
  opacity: 0;
}
#bim .coninner .tutext img {
  width: 30%;
  float: left;
  opacity: 0;
}
#bim .coninner .tu1 {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-1.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
}
#bim .coninner .tu1 .tu1text {
  padding-top: 18%;
  margin-left: 25%;
  margin-bottom: 9%;
}
#bim .coninner .tu1 .ta1 {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 25%;
  height: 150%;
  z-index: 10;
}
#bim .coninner .tu2 {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-2.jpg) no-repeat;
  background-size: 100% 100%;
}
#bim .coninner .tu2 .tu2mask {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  background-color: rgba(248, 248, 248, 0.5);
}
#bim .coninner .tu2 .tu2text {
  padding-top: 13%;
  padding-bottom: 8%;
  margin-left: 25%;
  margin-bottom: 9%;
}
#bim .coninner .tu2 .tu2text p {
  margin-bottom: 18%;
}
#bim .coninner .tu2 .tu2text img {
  width: 45%;
}
#bim .coninner .tu2 .tu2text img:nth-of-type(1) {
  margin-right: 5%;
}
#bim .coninner .tu3 {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-3.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
}
#bim .coninner .tu3 .tu3mask {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.1);
}
#bim .coninner .tu3 .tu3mask .tu3text {
  padding-top: 13%;
  padding-bottom: 8%;
  margin-left: 45%;
  margin-bottom: 9%;
}
#bim .coninner .tu3 .tu3mask .tu3text p {
  margin-bottom: 18%;
}
#bim .coninner .tu3 .tu3mask .tu3text img {
  width: 45%;
}
#bim .coninner .tu3 .tu3mask .tu3text img:nth-of-type(1) {
  margin-right: 5%;
}
#bim .coninner .tu3 .ta2 {
  position: absolute;
  top: 21%;
  left: 20%;
  width: 25%;
  height: 150%;
  z-index: 10;
}
#bim .coninner .tu4 {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-5.jpg);
  background-size: 55% 100%;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}
#bim .coninner .tu4 .tu4mask {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-6.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 20;
}
#bim .coninner .tu4 .tu4mask .tu4text {
  width: 25%;
  padding-top: 14%;
  padding-bottom: 2.5%;
  margin-left: 43%;
  margin-bottom: 9%;
}
#bim .coninner .tu4 .tu4mask .tu4text p {
  margin-bottom: 18%;
}
#bim .coninner .tu4 .tu4mask .tu4text img {
  width: 50%;
}
#bim .coninner .tu4 .tu4mask .tu4text img:nth-of-type(1) {
  margin-bottom: 5%;
  margin-right: 50%;
}
#bim .coninner .tu4 .ta3 {
  position: absolute;
  top: 19.5%;
  right: 14%;
  width: 30%;
  height: 150%;
  z-index: 30;
}
#bim .coninner .tu5 {
  width: 100%;
  height: 100%;
  background: url(../img/bim-bg-4.jpg) no-repeat;
  background-size: 100% 100%;
}
#bim .coninner .tu5 .tu5mask {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.7);
  position: relative;
  z-index: 100;
}
#bim .coninner .tu5 .tu5mask .tu5text {
  padding-top: 24%;
  padding-bottom: 6%;
  margin-left: 25%;
  margin-bottom: 9%;
}
#bim .coninner .tu5 .tu5mask .tu5text p {
  margin-bottom: 18%;
}
#bim .coninner .tu5 .tu5mask .tu5text img {
  width: 45%;
}
#bim .coninner .tu5 .tu5mask .tu5text img:nth-of-type(1) {
  margin-right: 5%;
}
#bim .tops {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5%;
  text-align: center;
  z-index: 100;
}
#bim .tops a {
  display: inline-block;
  width: 5%;
  height: 100%;
  background: url(../img/drawing-huitop.png) no-repeat;
  background-size: 100% 100%;
}
/*# sourceMappingURL=bim.css.map */
