body{
	background-color: #f5f5f5;
}
a{
	text-decoration: none;
	color: #333;
}
.main{
	width: 1224px;
	margin: auto;
	margin-bottom: 30px;
}
/*分类导航*/
.daohang{
	width: 1204px;
	height: 80px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 14px;
	background-color: white;
	margin-bottom: 30px;	
}
.daohang_left{
	float: left;
	width: 65px;
	height: 100px;
}
.daohang_left a:nth-child(2){
	display: block;
	margin-top: 20px;
}
.daohang_left a:before{
	content:"";
	width: 15px;
	height: 20px;
	float: left;
	background: url(../../img/index/15ico_bg.png);
	margin-top: 1px;
	margin-right: 14px;
}
.daohang_left a:nth-child(1):before{
	background-position: 0px -799px;
}
.daohang_left a:nth-child(2):before{
	background-position: 0px -824px;
}
.daohang_right ul{
	width: 1124px;
	height: 41px;
}
.daohang_right ul li{
	float: left;
	margin-left: 47px;
}
.daohang_active{
	color:#00b26c;
}

/*tab切换*/
.offline_tab{
	float: left;
	width: 904px;
	background-color: white;
}
.offline_tab_U{
	width: 100%;
	/*height: 45px;*/
	box-sizing: border-box;
}
.offline_tab_U li{
	float: left;
	width: 110px;
	height: 50px;
	line-height: 50px;
	text-align: center;	
	font-size: 14px;
	border-top: 4px solid white;
	box-sizing: border-box;
}
.offline_tab_U li.active {
	color: #29b572;
	border-top: 4px solid #29b572;
}
/*列表内容*/
.offline_tab_N{
	padding: 0 13px;
}
.offline_tab_N>ul{
	display: none;
	/*background-color: white;	*/
}
.school_list {
	padding: 15px 12px;
	border: 1px solid transparent;
}
.school_list a{
	width: 700px;
	height: 90px;
}
.school_list:hover .s_span_active {
	color:#29b572;
}
.school_list:hover {
	border: 1px solid #e0e0e0;
}
.school_list_img{
	float: left;
	width: 165px;
	height: 90px;
	margin-right: 20px;
}
.school_list_div {
	float: left;
	width: 500px;
	color: #999;
}
.s_l_name {
	width: 100%;
	font-size: 18px;
	font-weight: 900;
	color: #333333;
}
.s_l_name span {
	margin-left: 5px;
	font-size: 15px;
	color: #999;
}
/*星*/
.s_l_star {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}
.s_l_star>span {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background: url(../../img/index/15ico_bg.png) no-repeat;	
}
.s_l_star .star1 {
	background-position: 1px -960px;
}
.s_l_star .star2 {
	background-position: 1px -939px;
}
.s_l_star i {
	margin-left: 10px;
	font-size: 12px;
}
.s_l_star i span {
	color: #29b572;
}
.s_addr {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-indent: 2rem;
	background: url(../../img/index/15ico_bg.png) no-repeat;
	background-position: 0px -626px;	
}

/*页码*/
.off_num{
	width: 600px;
	height: 35px;
	margin: 30px auto;
	line-height: 35px;
	font-size: 13px;
	text-align: center;
}
.off_num>a{
	display: inline-block;
	width: 35px;
	height: 35px;	
	border:1px solid #cccccc;
}
.off_num>a:first-child {
	width: 60px;
}
.off_num>a:last-child {
	width: 60px;
}
.s_page {
	display: inline-block;
}
.s_page a {
	display: inline-block;
	width: 35px;
	height: 35px;	
	border:1px solid #cccccc;
}
.s_page a.active {
	color: #fff;
	background-color: #00b26c;
}	
/*学校列表 右侧部分*/
.school_right {
	float: right;
	width: 300px;
	/*height: 490px;*/
	background-color: white;
}

.school_right_h{
	height: 50px;
	width: 270px;
	line-height: 50px;
}
.school_right_h a:nth-child(1){
	font-size: 16px;
}
.school_right_h a:nth-child(1):before{
	content: "";
	float: left;
	width: 20px;
	height: 20px;	
	background: url(../../img/index/15ico_bg.png) no-repeat center;
	background-position: 0px -652px;
	margin-top: 15px;
	
}
.school_hot {
	position: relative;
	margin: 0 15px;
}
.school_more {
	float: right;
	color: #666;
	font-size: 12px;
}
.hot_list {
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.hot_pic {
	float: left;
	width: 110px;
	height: 60px;
}
.hot_pic img {
	display: block;
	width: 100%;
	height: 100%;
}
/*热门学校  信息*/
.hot_info {
	float: left;
	width: 150px;
	margin-left: 10px;
	
}
/*热门学校  名称*/
.hot_info h4 {
	color: #333;
	font-size: 14px;
	/*单行省略*/
	text-overflow: ellipsis;/*截取文本*/
	white-space: nowrap;/*强制文本不换行*/
	overflow: hidden;/*隐藏溢出文本*/
}

.hot_info p {
	font-size: 12px;
	color: #999;
}
.hot_info p span:nth-child(1) {
	margin-right: 12px;
}